<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/modal.css">
    <title>Cadastrar Carona</title>
</head>

<body>

    <header>
        <div class="supergraphic"></div>
        <nav>
            <div class="logo" id="logo"></div>
            <div class="title">
                <a href="/">Carona solidária <strong>BOSCH</strong></a>
            </div>
            <div class="nav-links">
                <div class="container-list">
                    <ul>
                        <li>
                            <a href="/">Voltar</a>
                        </li>
                    </ul>
                </div>
                <a href="#"><div class="darkmode-btn" id="darkmode-btn" onclick="darkMode()"></div></a>
            </div>
        </nav>
    </header>

    <main>
        <div class="h1-container">
            <h1>Cadastrar endereço</h1>
        </div>
        <div class="columns">
            <article>
                <div class="form-container">
                    <form action="<%=user?'/edit':'/register'%>" method="post">   
                        <label for="nome">Nome: </label>
                        <input type="text" name="nome" value="<%=user?user.Nome :''%>">
                        <label for="edv" >EDV: </label>
                        <input type="number" name="edv" value="<%=user?user.EDV :''%>">
                        <label for="rua">Rua: </label>
                        <input type="text" id="rua" name="rua" value="<%=user?user.Rua :''%>">
                        <div class="adress-area">
                            <div>
                                <label for="numero">Número: </label>
                                <input type="number" id="numero" name="numero" value="<%=user?user.Número :''%>">
                            </div>
                            <div>
                                <label for="bairro">Bairro: </label>
                                <input type="text" id="bairro" name="bairro" value="<%=user?user.Bairro :''%>">
                            </div>
                        </div>                        
                        <label for="contato">Telefone: </label>
                        <input type="text" name="telefone" value="<%=user?user.Telefone :''%>">
                        <label for="e-mail">E-mail: </label>
                        <input type="email" name="email" value="<%=user?user.Email :''%>">
                        <label for="horario">Horário: </label>
                        <input type="datetime" name="horario" value="<%=user?user.Horario :''%>">

                        <input type="hidden" name="lat" id="lat">
                        <input type="hidden" name="lon" id="lon">

                        <div class="submit-btn">
                            <button type="submit" class="">Cadastrar</button>
                        </div>
                    </form>
                </div>
            </article>
            <aside>
                <div class="buttons-container">
                    <div class="editar-btn">
                        <button class="btn btn-open" id="btn-open-delete">Deletar</button>
                    </div>
                    <div class="excluir-btn">
                        <button class="btn btn-open" id="btn-open-edit">Editar</button>
                    </div>
                </div>
            </aside>
        </div>
    </main>
    <div class="modal-container hidden" id="modal-container">
        <figure>
            <section class="modal hidden" id="modal-edit">
                <div class="close-btn-container">
                    <button class="btn-close">⨉</button>
                </div>
                <div class="modal-form-container">
                    <div class="modal-h-container">
                        <h3>Editar</h3>
                    </div>
                    <form action="/edit/search" method="post">
                        <input type="text" id="edit" placeholder="Digite seu EDV." name="edv"/>
                        <button class="btn" type="submit">Concluir</button>
                    </form>
                </div>
            </section>

            <div class=""></div>
        </figure>
        <figure>
            <section class="modal hidden" id="modal-delete">
                <div class="close-btn-container">
                    <button class="btn-close" id="btn-close-delete">⨉</button>
                </div>
                <div class="modal-form-container">
                    <div class="modal-h-container">
                        <h3>Deletar</h3>
                    </div>
                    <form action="/delete" method="post">
                        <input type="password" id="edv" placeholder="Digite seu EDV." name="edv"/>
                        <button class="btn" type="submit">Deletar</button>
                    </form>
                </div>
            </section> 

            <div class="overlay hidden"></div>
        </figure>
    </div>


    <footer class="footer" id="footer">

    </footer>
    <script src="/js/main.js" ></script>
    <script src="/js/modal.js"></script>
</body>

</html>