<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/register.css">
    <link rel="stylesheet" href="/css/modal.css">
    <title>Cadastrar Carona</title>
</head>

<body>

    <header>
        <div>
            <nav>
                <div>
                    <div>
                        <a href="/">Carona solidaria <strong>BOSCH</strong></a>
                    </div>
                    <div>
                        <ul>
                            <li>
                                <a href="/">Voltar</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <%console.log(user)%>
        <article>
            <div>
                <form action="<%=user?'/edit':'/'%>" method="post">
                    <div>
                        <h1>Cadastrar endereço</h1>
                        <label for="edv">EDV: </label>
                        <input type="number" name="edv" value="<%=user?user.EDV :''%>">
                        <label for="nome">Nome: </label>
                        <input type="text" name="nome" value="<%=user?user.Nome :''%>">
                        <label for="rua">Rua: </label>
                        <input type="text" name="rua" value="<%=user?user.Rua :''%>">
                        <label for="numero">Número: </label>
                        <input type="number" name="numero" value="<%=user?user.Número :''%>">
                        <label for="bairro">Bairro: </label>
                        <input type="text" name="bairro" value="<%=user?user.Bairro :''%>">
                        <label for="contato">Telefone: </label>
                        <input type="text" name="contato" value="<%=user?user.Telefone :''%>">
                        <label for="e-mail">E-mail: </label>
                        <input type="email" name="email" value="<%=user?user.Email :''%>">
                        <label for="horario">Horário: </label>
                        <input type="datetime" name="horario" value="<%=user?user.Horario :''%>">
                        <div>
                            <button type="submit" class="">Cadastrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </article> 

    <aside>
        <figure>
            <section class="modal hidden" id="modal-edit">
                <form action="/edit/search" method="post">
                    <div class="flex">
                        <button class="btn-close">⨉</button>
                    </div>
                    <div>
                        <h3>Editar usuário</h3>
                    </div>
                    <input type="text" id="edit" placeholder="Digite seu EDV." name="edv"/>
                    <button class="btn" type="submit">Concluir</button>
                </form>
            </section>

            <div class=""></div>
            <button class="btn btn-open" id="btn-open-edit">Editar</button>
        </figure>
        <figure>
            <section class="modal hidden" id="modal-delete">
                <form action="/delete" method="post">
                    <div class="flex">
                        <button class="btn-close" id="btn-close-delete">⨉</button>
                    </div>
                    <div>
                        <h3>Deletar usuário</h3>
                        <p>
                        </p>
                    </div>
                    <input type="password" id="edv" placeholder="Digite seu EDV." name="edv"/>
                    <button class="btn" type="submit">Deletar</button>
                </form>
            </section>

            <div class="overlay hidden"></div>
            <button class="btn btn-open" id="btn-open-delete">Deletar</button>
        </figure>
    </aside>

    <footer>

    </footer>

    <script src="/js/modal.js"></script>
</body>

</html>